body {
    background-color: #bbb;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.heading {
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
    font-weight: 700;
}

.big-title {
    font-size: 2.0em;
    padding-left: 30px;
    font-weight: 700;
    color: rgba(12, 61, 93, 0.71);
}

.section-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #888888;
}

section a {
    text-decoration: none;
    color: #1779ba;
}

section a:hover {
    text-decoration: underline;
    color: #17b2ba;
}

.menu i {
    color: #77998b;
}

.footer-menu {
    margin: 0px;
    padding: 0px;
}

.footer-p {
    margin: 0px;
    color: #77998b;
}

.alert-box {
    margin-top: 1.5rem;
}

.error,
.alert {
    color: #f04124;
}

.message {
    color: rgb(28, 119, 108)
}

.price {
    width: 30%;
}
