{% extends "base.html" %}
{% block content %}
<main>
  <section>
    <div class="row">
      <div class="callout large-12 column">
        <div class="large-12 columns">
          <div class="section-title">Description</div>
	  <ul class="menu vertical">
	    <li>Title: <b>{{book.title}}</b></li>
            <li>
              Author:
              {% if book.author %}
              <b>{{book.author}}</b>
              {% endif %}
            </li>
            <li>Category: <b>{{book.category.name}}</b></li>
            <li>Price: <b>{{book.price}}</b></li>
            <hr/>
	    <li>
              {% if book.description %}
              {{book.description}}
              {% endif %}
            </li>
	  </ul>
        </div>
        <div class="large-12 columns">
          <hr />
          <a class="button info" href="{{url_for('editBook', book_id=book.id)}}">Edit</a>
          <a class="button alert" href="{{url_for('deleteBook', book_id=book.id)}}">Delete</a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
