{% extends "base.html" %}
{% block content %}
    <main>
      <div class="row">
        <div class="callout large-12 column">
          <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="small callout success" data-closable>
              {% for message in messages %}
              <div class="small message">{{message}}</div>
              {% endfor %}
              <button class="small close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            {% endwith %}
          </section>
	  <section>
            <div class="large-3 columns">
              <div class="section-title">Categories</div>
              <ul class="menu vertical">
		<li>
                  <a href="{{url_for('showCategoriesBooks')}}">All</a>
                </li>
		{% for category in categories %}
		<li>
                  <a href="{{url_for('showBooksCategory', category_id=category.id)}}">
                    {{category.name}}
                  </a>
                </li>
		{% endfor %}
              </ul>
            </div>
	  </section>
	  <section>
            <div class="large-7 columns">
              {% if logged_in %}
              <a class="button small secondary"
                 href="{{url_for('newBook')}}">Add Book</a>
              {% endif %}
              <div class="section-title">
                {{category_name}} Books
                {% if number_of_books %}
                ({{number_of_books}} books)
                {% endif %}
              </div>
              <ul class="menu vertical">
		{% for book in books %}
		<li>
		  <div class="menu">
		    <a href="{{url_for('showBookDescription', book_id=book.id)}}">
                      {{book.title}}</a>
                    <i>({{book.category.name}})</i>
		  </div>
		</li>
		{% endfor %}
              </ul>
            </div>
	  </section>
        </div>
      </div>
    </main>
{% endblock %}
