{% extends "base.html" %}
{% block content %}
<main>
  <section>
    <div class="row">
      <div class="callout large-12 column">
        <div class="large-12 columns">
          <div class="section-title alert">
            Are you sure to delete this book?
          </div>
	  <ul class="menu vertical">
	    <li>Title: <b>{{book.title}}</b></li>
            <li>
              Author:
              {% if book.author %}
              <b>{{book.author}}</b>
              {% endif %}
            </li>
            <li>Category: <b>{{book.category.name}}</b></li>
            <li>Price: <b>{{book.price}}</b></li>
            <hr/>
	    <li>
              {% if book.description %}
              {{book.description}}
              {% endif %}
            </li>
	  </ul>
        </div>
        <div class="large-12 columns">
          <hr />
          <form method="POST">
            <a class="button secondary"
               href="{{url_for('showBookDescription', book_id=book.id)}}">
              Cancel
            </a>
            <input class="button alert" type="submit" value="Yes" />
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
