{% extends "base.html" %}
{% block content %}
<main>
  <section>
    <div class="row">
      <div class="callout large-12 column">
        <div class="large-12 columns">
          <div class="section-title">Description</div>
	  <ul class="menu vertical">
	    <li>Title: <b>{{book.title}}</b></li>
            <li>
              Author:
              {% if book.author %}
              <b>{{book.author}}</b>
              {% endif %}
            </li>
            <li>Category: <b>{{book.category.name}}</b></li>
            <li>Price: <b>{{book.price}}</b></li>
            <hr/>
	    <li>
              {% if book.description %}
              {{book.description}}
              {% endif %}
            </li>
            <hr />
	  </ul>
        </div>
        {% if book.user.name == logged_in %}
        <div class="large-12 columns">
          <a class="button info"
             href="{{url_for('editBook', book_id=book.id)}}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
          </a>
          <a class="button alert"
             href="{{url_for('deleteBook', book_id=book.id)}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
